[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-rest-framework = "*"
django-environ = "*"
"psycopg2" = "*"
django-extensions = "*"
python-twitter = "*"
scipy = "*"
numpy = "*"
"boto3" = "*"
numexpr = "*"
zappa = "*"
django-storages = "*"
django-cors-headers = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"
pylint-django = "*"
boto = "*"

[requires]
python_version = "3.6"
